/*
 * CSS Styles that are used for JscrollPanr Sample page
 */

.scroll-pane {
  width: 100%;
  height: 200px;
  overflow: auto;
}

.horizontal-only {
  height: auto;
  max-height: 200px;
}

h1.jsp-sample-page {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.jsp-sample-wrapper h4 {
  font-weight: bold;
  font-size: 16px;
  padding: 27px 0 0;
}

.jsp-usage {
  color: #7f2ac9;
  font-weight: bold;
  overflow-wrap: normal;
  text-transform: inherit;
  white-space: pre;
}
